.dev-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 3rem;
}

.toolbar-row {
    position: absolute;
    background-color: #eee;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
}

.toolbar-button {
    border: 0;
    background-color: #444;
    padding: 0 1rem;
    height: 100%;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.toolbar-button:hover {
    background-color: #777;
}

.workspace-row {
    width: 100%;
    height: 100%;
}

.editor-column {
    float: left;
    width: 50%;
    height: 100%;
}

.editor {
    width: 100%;
    height: 100%;
}

.editor .CodeMirror {
    width: 100%;
    height: 100%;
}

.run-column {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #222;
    color: #fff;
}